a.unsplash, a.unsplash:visited {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

a.unsplash > span {
  display: inline-block;
  padding: 2px 3px;
}

a.unsplash > span > svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -1px;
  fill: white;
}
