a.unsplash,a.unsplash:visited{background-color:#000;color:#fff;text-decoration:none;padding:4px 6px;font-size:12px;font-weight:700;line-height:1.2;display:inline-block;border-radius:3px;position:absolute;left:8px;bottom:8px}a.unsplash>span{display:inline-block;padding:2px 3px}a.unsplash>span>svg{height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:#fff}
html.a2foto:before{background-image:url(../img/a2foto.jpg);}
html.boontohhgraphy:before{background-image:url(../img/boontohhgraphy.jpg);}
html.darrylbrian:before{background-image:url(../img/darrylbrian.jpg);}
html.davidmoum:before{background-image:url(../img/davidmoum.jpg);}
html.edgr:before{background-image:url(../img/edgr.jpg);}
html.frankiefoto:before{background-image:url(../img/frankiefoto.jpg);}
html.gaspanik:before{background-image:url(../img/gaspanik.jpg);}
html.hikersbay:before{background-image:url(../img/hikersbay.jpg);}
html.kalenemsley:before{background-image:url(../img/kalenemsley.jpg);}
html.michaelbenz:before{background-image:url(../img/michaelbenz.jpg);}
